<app-nav-menu></app-nav-menu>

<div class="row navbar">
  <app-nav-menu></app-nav-menu>
</div>

<div class="col d-flex align-items-center justify-content-center main-col">
  <div class="row">
    <div class="col- register-box">
      <div class="row">
        <div class="col">
          <h2 class="title">Zarejestruj się:</h2>
          <div *ngIf="errorMessage != ''" class="alert alert-danger">{{errorMessage}}</div>
        </div>
      </div>
      <div class="row">
        <form class="col" id="registerForm">
          <div class="form-group">
            <label for="email-input">E-mail:</label>
            <input type="email" id="email-input" [(ngModel)]="userItem.email" [ngModelOptions]="{standalone: true}" class="form-control" required autofocus />
          </div>
          <div class="form-group">
            <label for="name-input">Imię:</label>
            <input type="text" id="name-input" [(ngModel)]="userItem.name" [ngModelOptions]="{standalone: true}" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="surname-input">Nazwisko:</label>
            <input type="text" id="surname-input" [(ngModel)]="userItem.surname" [ngModelOptions]="{standalone: true}" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password-input">Hasło:</label>
            <input type="password" id="password-input" [(ngModel)]="userItem.password" [ngModelOptions]="{standalone: true}" class="form-control" required />
          </div>
        </form>
      </div>
      <div class="row justify-content-around buttons">
        <button type="button" class="btn btn-primary" routerLink='/login/'>Zaloguj</button>
        <button type="submit" class="btn btn-primary" (click)="register()">Zarejestruj</button>
      </div>
    </div>
  </div>
</div>
