<div class="col main-add-or-update">
  <div class="row">
    <h2 *ngIf="!postDataItem || postDataItem.postId === undefined">Dodaj post:</h2>
    <h2 *ngIf="postDataItem && postDataItem.postId !== undefined">Zaktualizuj post (ID: {{postDataItem.postId}})</h2>
  </div>
  <div class="row">
    <form class="col">
      <div class="form-group">
        <label for="date-input">Data:</label>
        <input type="date" id="date-input" [ngModel]="postDataItem.date | date:'yyyy-MM-dd'" (ngModelChange)="postDataItem.date = $event" [ngModelOptions]="{standalone: true}" class="form-control" />
      </div>
      <div class="form-group">
        <label for="title-input">Tytuł:</label>
        <input type="text" id="title-input" [(ngModel)]="postDataItem.title" [ngModelOptions]="{standalone: true}" class="form-control" />
      </div>
      <div class="form-group">
        <div class="row">
          <label for="image-input">Miniaturka:</label>
          <input type="file" id="image-input" [(ngModel)]="postDataItem.image" [ngModelOptions]="{standalone: true}" (change)="handleFileSelect($event)" class="form-control" />
        </div>
        <div class="row justify-content-center">
          <div *ngIf="this.postDataItem.image != ''; else elseBlock">
            <img class="thumbnail" id="myimage" src="data:image/jpg;base64,{{this.postDataItem.image}}" />
          </div>
          <ng-template #elseBlock>
            <img class="thumbnail" id="myimage" src="/assets/images/default-placeholder.png" />
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label for="post-input">Tekst:</label>
        <ckeditor [editor]="Editor" id="post-input" [(ngModel)]="postDataItem.text" [ngModelOptions]="{standalone: true}" (ready)="onReady($event)"></ckeditor>
      </div>
    </form>
  </div>
  <div class="row d-flex justify-content-end">
    <button type="button" class="btn btn-success" (click)="createOrUpdatePostRecord($event);">Zapisz</button>
  </div>
</div>


