.row {
  width: 100%;
  min-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.main-add-or-update {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

.thumbnail {
  height: 200px;
  margin: 5px;
}
