/* Global styles, imports */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-size: 18px!important;
}

app-home{
    width:100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px !important;
  }
}
