<app-nav-menu></app-nav-menu>

<div class="blog-page">
  <div class="container pt-5">
    <div class="d-flex flex-md-row flex-column justify-content-between align-items-start pt-5">
      <div class="d-flex flex-column justify-content-between pb-5">
        <div class="form-group col-md-10 col-12 mb-4 px-0">
          <input type="text" class="form-control" placeholder="Szukaj..." [(ngModel)]="term" />
        </div>
        <div *ngFor="let postData of allPosts | filter: term | paginate: config" [routerLink]="['/post',  postData.postId ]" class="d-flex flex-row link single-post-item col-md-10 col-12 p-0 my-4">
          <div class="single-post-img col-4"><img id="post-image" src="data:image/jpg;base64,{{ postData.image }}" /></div>
          <div class="p-3">
            <h4 class="title text-justify">{{ postData.title }}</h4>
            <hr class="title-hr" />
            <div>
              <p class="text-justify ck-content" [innerHTML]="(postData.text.length>250)? (postData.text | slice:0:250)+'..':(postData.text)"></p>
            </div>
            <div>
              <span class="text pb-3 float-right">{{ postData.date | date:'dd.MM.yyyy' }}</span>
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
      <app-blog-sidebar class="col-md-3 col-12"></app-blog-sidebar>
    </div>
  </div>
</div>

<app-contact></app-contact>


