.blog-page{
  background-color: #9faba0;
}

.link:hover {
  cursor: pointer;
}
.single-post-item {
  background-color: #322f23;
  color: white;
}

.single-post-img {
  padding: 0;
  position: relative;
}

.single-post-img #post-image {
  position: absolute;
  overflow: hidden;
  height:100%;
  width:100%;
  object-fit: cover;
}

.single-post-item .title {
  font-size: 1.2rem;
}

.title-hr {
  width: 100%;
  background: white;
  height: 1px;
}

.single-post-item .text {
  font-size: 1rem;
}
