<div class="col">
    <div class="row justify-content-center">
      <form>
        <table>
          <thead>
            <tr>
              <th style="width: 350px">E-mail</th>
              <th style="width: 250px">Imię</th>
              <th style="width: 250px">Nazwisko</th>
              <th style="width: 200px">Rola</th>
              <th style="width: 300px">Opcje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userDataItem of userData">
              <td style="max-width: 350px">
                <p class="banButton" *ngIf="userDataItem.isBanned; else elseBlockEmail">
                  <b style="color: red;">[BAN]</b> {{ userDataItem.email }}
                </p>
                <ng-template #elseBlockEmail>
                  {{ userDataItem.email }}
                </ng-template>
              </td>
              <td style="max-width: 250px">{{ userDataItem.name }}</td>
              <td style="max-width: 250px">{{ userDataItem.surname }}</td>
              <td style="max-width: 200px">
                <select class="form-control" id="role-selector" [(ngModel)]="userDataItem.role" name="role">
                  <option value="0">Użytkownik</option>
                  <option value="1">Redaktor</option>
                </select>
              </td>
              <td style="max-width: 300px">
                <button type="button" class="btn btn-success" (click)="editUserRecord(userDataItem)">Zapisz</button>
                <button type="button" class="btn btn-primary" (click)="banUser(userDataItem)">
                  <p class="banButton" *ngIf="userDataItem.isBanned; else elseBlock">
                    Odbanuj
                  </p>
                  <ng-template #elseBlock>
                    Zbanuj
                  </ng-template>
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteUserRecord(userDataItem)">Usuń</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
</div>
