.single-post-page {
  background: #9faba0;
  font-family: 'Open Sans', sans-serif;
}

.post-info {
  color: white;
}

.post-title {
  font-size: 2.2rem;
}

.post-text, .post-date {
  font-weight: lighter;
}

.hr-line {
  background: white;
  height: 1px;
  margin-bottom: 5px;
}
