<app-nav-menu></app-nav-menu>

<div class="single-post-page">
  <div class="container pt-5">
    <div class="d-flex flex-md-row flex-column justify-content-between pt-5">
      <article class="col-md-8 col-12 post-info pb-4">
        <div class="row">
          <div class="col">
            <img class="w-100 mb-4" src="data:image/jpg;base64,{{ singlePost?.image }}" />
            <h1 class="post-title">{{ singlePost?.title }}</h1>
            <hr class="hr-line" />
            <span class="post-date">{{ singlePost?.date | date:'dd.MM.yyyy' }}</span>
            <div class="text-justify pt-3 post-text ck-content" [innerHTML]="(singlePost?.text)"></div>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col">
            <app-comment style="flex: 1 0 auto;"></app-comment>
          </div>
        </div>
      </article>
      <app-blog-sidebar class="col-md-3 col-12"></app-blog-sidebar>
    </div>
  </div>
</div>
<app-contact></app-contact>
