.sidebar {
  color: white;
  line-height: 1.2rem;
}

.link:hover{
  cursor: pointer;
}

.header {
  font-weight: 900;
}

.text {
  font-weight: 100;
  font-size: 1rem;
}

.post-img {
  max-height: 150px;
  overflow: hidden;
}

.post-text {
  font-weight: 100;
  font-size: 0.9rem;
}

.post-title{
  font-weight: 600;
  font-size: 1rem;
}

.post-box{
    color:black;
    background:white;
}

.post-group-title{
    font-weight: 900;
}

.post-group-single{
    color:white;
}
