<div class="sidebar d-flex flex-column justify-content-start">
  <div class="d-flex flex-column justify-content-around mb-4">
    <h4>O blogu</h4>
    <p class="text">Quisque massa neque, rutrum ac nisi non, euismod molestie lorem. Phasellus in leo sed massa semper accumsan in ultricies quam. Proin ut cursus ligula, ut lacinia lectus. Etiam at magna quis lacus congue gravida. Nunc metus turpis...</p>
  </div>
  <div class="d-flex flex-column justify-content-around mb-4">
    <h4>Najnowsze wpisy</h4>
    <div *ngFor="let newestPost of posts | slice:0:3" [routerLink]="['/post',  newestPost?.postId ]" class="link post-box p-0 my-4">
      <div class="post-img"><img class="w-100" src="data:image/jpg;base64,{{ newestPost?.image }}" /></div>
      <div class="p-2">
        <h4 class="text-justify post-title">{{ newestPost?.title }}</h4>
        <p class="text-justify post-text" [innerHTML]="(newestPost?.text.length>6)? (newestPost?.text | slice:0:80)+'..':(newestPost?.text)"></p>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-around mb-4">
    <h4>Archiwum wpisów</h4>
    <div class="text" *ngFor="let item of postGroupedByDate | keyvalue; async">
      <div *ngFor="let i of item | keyvalue">
        <div *ngIf="i.value[1]">
          <p class="post-group-title">{{i.value[0]}}:</p>
          <ul>
            <li *ngFor="let monthgroup of i.value[1]">
              <a class="post-group-single" [routerLink]="['/post',  monthgroup?.postId ]">{{ monthgroup.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
