.container {
  padding: 0 120px;
}

.contact-background {
  z-index: 0;
}

.contact-background img {
  width: 35%;
  height: auto;
}

.kontakt {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  background-color: #83675b;
}

.kontakt-p {
  color: white;
  font-weight: lighter;
}

input, textarea, button {
  border: none;
  min-height: 50px;
  outline: none;
  font-weight: lighter;
}

textarea {
  min-height: 200px;
  resize: none;
}

button {
  background: #1d180b;
  color: white;
}

.social-icon{
    color: white;
    width: 35px;
    height: auto;
}

footer {
  font-size: 0.6em;
  color: black;
}

footer a {
  color: black;
}


@media only screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
