<section class="kontakt position-relative" id="contact">
  <div class="position-absolute contact-background"><img src="/assets/images/contact-flower.jpg"/></div>
  <div class="container position-relative">
    <p class="kontakt-p pt-5 pb-3">Skontaktuj się z nami wypełniając formularz</p>
    <form (ngSubmit)="processForm()" class="d-flex flex-column" runat="server">
      <div class="d-flex flex-md-row flex-column">
        <div class="field col-md-6 pl-0 pr-md-2 pr-0">
          <input type="text" name="name" class="input w-100 pl-3" placeholder="Imię" [(ngModel)]="emailData.name" minlength="3" #nameInput="ngModel">
          <span class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">Name is required and needs to be at least 3 characters long.</span>
        </div>
        <div class="field col-md-6 pr-0 pl-md-2 pl-0 pt-md-0 pt-4">
          <input type="email" name="email" class="input w-100 pl-3" placeholder="E-mail" [(ngModel)]="emailData.emailAddress" email #emailInput="ngModel">
          <span class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">Needs to be a valid email.</span>
        </div>
      </div>
      <div class="field d-flex">
        <textarea class="textarea w-100 pl-3 pt-3 my-3" name="message" placeholder="Wiadomość" [(ngModel)]="emailData.body" #messageInput="ngModel"></textarea>
        <span class="help is-error" *ngIf="messageInput.invalid && messageInput.dirty">Your message is required!</span>
      </div>
      <button type="submit" class="button is-danger is-large mb-5">Wyślij</button>
    </form>
    <div class="d-flex flex-row justify-content-center mb-5">
      <a href="https://www.facebook.com/" target="_blank" class="social-icon mr-md-5 mr-3"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" class="svg-inline--fa fa-facebook-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg></a>
      <a href="https://www.instagram.com/" target="_blank" class="social-icon mx-md-4 mx-2"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg></a>
      <a href="https://pinterest.com/" target="_blank" class="social-icon ml-md-5 ml-3"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="pinterest-square" class="svg-inline--fa fa-pinterest-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M448 80v352c0 26.5-21.5 48-48 48H154.4c9.8-16.4 22.4-40 27.4-59.3 3-11.5 15.3-58.4 15.3-58.4 8 15.3 31.4 28.2 56.3 28.2 74.1 0 127.4-68.1 127.4-152.7 0-81.1-66.2-141.8-151.4-141.8-106 0-162.2 71.1-162.2 148.6 0 36 19.2 80.8 49.8 95.1 4.7 2.2 7.1 1.2 8.2-3.3.8-3.4 5-20.1 6.8-27.8.6-2.5.3-4.6-1.7-7-10.1-12.3-18.3-34.9-18.3-56 0-54.2 41-106.6 110.9-106.6 60.3 0 102.6 41.1 102.6 99.9 0 66.4-33.5 112.4-77.2 112.4-24.1 0-42.1-19.9-36.4-44.4 6.9-29.2 20.3-60.7 20.3-81.8 0-53-75.5-45.7-75.5 25 0 21.7 7.3 36.5 7.3 36.5-31.4 132.8-36.1 134.5-29.6 192.6l2.2.8H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"></path></svg></a>
    </div>
  </div>
  <footer class="d-flex flex-row justify-content-center pb-3 text-center">
    <span>© 2020 Flora. All rights reserved | <a href="#" target="_blank">POLITYKA PRYWATNOŚCI</a> | <a href="#" target="_blank">POLITYKA COOKIES</a></span>
  </footer>
</section>
