li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.active-link {
  font-weight: bold;
}
.navbar-header a:hover {
  text-decoration: none;
  font-weight: 900;
}

app-nav-menu {
  z-index: 100;
  position: relative;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(29, 24, 11, 0.6);
  height: 47px;
}

/* Navbar style */
.navbar {
  padding: .5rem 11rem;
}
.navbar-brand {
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2rem;
  line-height: 1.3rem;
  text-shadow: 0 0 15px #fff, 0 0 20px rgba(255,255,255,0.5);
}
.nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navbar-header a{
  color: white;
}
.navbar-header li {
  padding: 0 20px;
}

.user {
  margin-top: 2px;
}

.menu-button {
  background: none;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: .5rem 1rem;
  }
}
