<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header w-100 d-flex flex-row justify-content-between align-items-center'>
      <a class='navbar-brand' routerLink='/'>Flora</a>
      <ul class='nav navbar-nav d-md-flex d-none flex-row'>
        <li>
          <a routerLink='/' routerLinkActive='active-link' [routerLinkActiveOptions]='{ exact: true }'>
            <span class=''>Strona główna</span>
          </a>
        </li>
        <li>
          <a routerLink='/blog/' routerLinkActive='active-link'>
            <span class=''>Blog</span>
          </a>
        </li>
        <li>
          <a routerLink='{{route}}' fragment='contact' skipLocationChange>
            <span class=''>Kontakt</span>
          </a>
        </li>
        <li>
          <a *ngIf="route != '/login' && route != '/register'" routerLink='/login/' routerLinkActive='active-link'>
            <span class="material-icons md-48 user">
              account_circle
            </span>
          </a>
        </li>
      </ul>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="d-md-none d-inline menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <a mat-menu-item routerLink='/' routerLinkActive='active-link' [routerLinkActiveOptions]='{ exact: true }'>
    <span class=''>Strona główna</span>
  </a>
  <a mat-menu-item routerLink='/blog/' routerLinkActive='active-link'>
    <span class=''>Blog</span>
  </a>
  <a mat-menu-item routerLink='{{route}}' fragment='contact' skipLocationChange>
    <span class=''>Kontakt</span>
  </a>
  <a mat-menu-item *ngIf="route != '/login' && route != '/register'" routerLink='/login/' routerLinkActive='active-link'>
    <span class="material-icons md-48 user">
      account_circle
    </span>
  </a>
</mat-menu>
