<div class="col">
    <div class="row justify-content-center">
        <table>
            <thead>
                <tr>
                    <th style="width: 130px">Post</th>
                    <th style="width: 180px">Data</th>
                    <th style="width: 250px">Użytkownik</th>
                    <th style="width: 650px">Komentarz</th>
                    <th style="width: 115px">Opcje</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let commentDataItem of commentData">
                <td style="max-width: 130px">
                  <img class="thumbnail" id="myimage" src="data:image/jpg;base64,{{commentDataItem.postMiniature}}" />
                </td>
                <td style="max-width: 180px">{{ commentDataItem.date | date:'dd-MM-yyyy HH:mm' }}</td>
                <td style="max-width: 250px">{{ commentDataItem.userName }}</td>
                <td style="max-width: 650px">{{ commentDataItem.commentText }}</td>
                <td style="max-width: 115px">
                  <button type="button" class="btn btn-danger" (click)="deleteCommentRecord(commentDataItem)">Usuń</button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
