<div class="col">
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="newPostRecord()">Dodaj</button>
  </div>
  <div class="row justify-content-center">
    <table>
      <thead>
        <tr>
          <th style="width: 130px">Miniaturka</th>
          <th style="width: 180px">Data</th>
          <th style="width: 390px">Tytuł</th>
          <th style="width: 205px">Opcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postDataItem of postData">
          <td style="max-width: 130px">
            <div *ngIf="this.postDataItem.image != ''; else elseBlock">
              <img class="thumbnail" id="myimage" src="data:image/jpg;base64,{{this.postDataItem.image}}" />
            </div>
            <ng-template #elseBlock>
              <img class="thumbnail" id="myimage" src="/assets/images/default-placeholder.png" />
            </ng-template>
          </td>
          <td style="max-width: 180px">{{ postDataItem.date | date:'dd-MM-yyyy HH:mm' }}</td>
          <td style="max-width: 390px">{{ postDataItem.title }}</td>
          <td style="max-width: 205px">
            <button type="button" class="btn btn-primary" (click)="editPostRecord(postDataItem)">Edytuj</button>
            <button *ngIf="postDataItem.canDelete" type="button" class="btn btn-danger" (click)="deletePostRecord(postDataItem)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
