table {
  margin-top: 1.5em;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
}

tbody td, .break-word {
  text-align: center;
  padding: 10px;
  white-space: normal;
  word-wrap: break-word;
}

th {
  padding: 10px;
  text-align: center;
}

button {
  width: 90px;
  margin: 1px;
}

.thumbnail {
  height: 50px;
  margin: 5px;
}
