<hr class="hr-line" />

<h2 class="comments-title">Komentarze ({{amountOfComments}}):</h2>
<div class="col">
  <div class="row" *ngFor="let commentDataItem of commentData">
    <div class="col">
      <div class="row">
        <div class="col-">
          <img class="thumbnail" id="myimage" src="/assets/images/default-placeholder.png" />
        </div>
        <div class="col comment">
          <div class="row">
            <div class="col- userName">
              {{commentDataItem.userName}}
            </div>
            <div class="col- date">
              {{ commentDataItem.date | date:'dd.MM.yyyy' }}
            </div>
            <div class="col- reply">
              <button class="link-button" (click)="replyTo(commentDataItem.commentId, commentDataItem)">Odpowiedz</button>
            </div>
          </div>
          <div class="row" style="display: block;">
            <p class="break-word">{{commentDataItem.commentText}}</p>
          </div>
        </div>
      </div>
      <div class="row d-flex refComments" *ngFor="let commentDataItemRef of commentDataItem.refComments">
        <div class="col-">
          <img class="thumbnail" id="myimage" src="/assets/images/default-placeholder.png" />
        </div>
        <div class="col comment" style="flex: 1 0 auto;">
          <div class="row">
            <div class="col- userName">
              {{commentDataItemRef.userName}}
            </div>
            <div class="col- date">
              {{ commentDataItemRef.date | date:'dd.MM.yyyy' }}
            </div>
            <div class="col- reply">
              <button class="link-button" (click)="replyTo(commentDataItemRef.refCommentId, commentDataItemRef)">Odpowiedz</button>
            </div>
          </div>
          <div class="row" style="display: block;">
            <p class="break-word">{{commentDataItemRef.commentText}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div *ngIf="isLoggedIn; else elseBlock" class="row">
    <form class="col comment-form">
      <div class="form-group">
        <div *ngIf="refCommentId != 0" class="row">
          <p class="col break-word">{{replyInfo}}</p>
          <div class="col- decline-button">
            <button class="link-button" (click)="replyTo(0, null)">Anuluj</button>
          </div>
        </div>
        <textarea id="comment-input" class="form-control"
                  [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}"
                  placeholder="Dodaj swój komentarz..."></textarea>
      </div>
      <button type="submit" class="btn btn-secondary" (click)="addComment();">Dodaj komentarz</button>
    </form>
  </div>
  <ng-template #elseBlock>
    <h3 class="row justify-content-center"><a class="login-info" routerLink='/login/' routerLinkActive='active-link'>Zaloguj się aby komentować :)</a></h3>
  </ng-template>
</div>
