.hr-line {
  background: white;
  height: 1px;
  margin-bottom: 5px;
}

.comments-title {
  font-size: 1.8rem;
}


.userName {
  font-size: 1.3rem;
  padding-right: 6px;
}

.thumbnail {
  height: 80px;
  margin: 10px;
}

.refComments {
  margin-left: 30px;
}

.comment {
  margin: 3px 0 10px 0;
  font-size: 1.1rem;
  font-weight: lighter;
  flex: 0 1 auto;
  width: calc(100% - 100px);
}

.date {
  margin-top: 6px;
  padding-right: 6px;
  font-size: 1.0rem;
  color: lightgrey;
  font-style: italic;
}

.reply {
  margin-top: 6px;
  font-size: 1.0rem;
  color: lightgrey;
}

.comment-form {
  padding: 0;
}

.link-button {
  background: none !important;
  border: none;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 0px;
}

.break-word {
  white-space: normal;
  word-wrap: break-word;
}

.decline-button {
  margin-right: 10px;
  margin-top: 2px;
}

.login-info {
  color: #069;
}

@media (max-width: 767px) {
  .thumbnail {
    height: 50px;
  }

  .comment {
    width: calc(100% - 70px);
  }
}
