.navbar {
  height: 47px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.main-col {
  height: calc(100% - 47px);
}

.login-box {
  width: 370px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
}

.menu-box {
  width: 200px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
}

.title {
  padding-bottom: 20px;
}

.title-menu {
  padding-bottom: 20px;
  text-align: center;
}

.buttons {
  padding-top: 20px;
}

button {
  width: 125px;
  margin: 5px;
  padding: 5px;
}
