<app-nav-menu></app-nav-menu>

<div class="row navbar">
  <app-nav-menu></app-nav-menu>
</div>

<div class="col d-flex align-items-center justify-content-center main-col">
  <div class="row">
    <div *ngIf="isLoggedIn; else elseBlock" class="col- menu-box">
      <div class="row">
        <div class="col">
          <h2 class="title-menu">Menu:</h2>
          <div *ngIf="!isStandardUser" class="row justify-content-center">
            <button type="button" class="btn btn-primary" routerLink='/admin-panel/' routerLinkActive='active-link'>Zarządzaj</button>
          </div>
          <div class="row justify-content-center">
            <button type="button" class="btn btn-primary" (click)="deleteAccount()">Usuń konto</button>
          </div>
          <div class="row justify-content-center">
            <button type="button" class="btn btn-primary" (click)="logout()">Wyloguj</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="col- login-box">
        <div class="row">
          <div class="col">
            <h2 class="title">Zaloguj się:</h2>
            <div *ngIf="invalidLogin" class="alert alert-danger">{{errorMessage}}</div>
          </div>
        </div>
        <div class="row">
          <form class="col" id="loginForm">
            <div class="form-group">
              <label for="email-input">E-mail:</label>
              <input type="email" id="email-input" [(ngModel)]="userItem.email" [ngModelOptions]="{standalone: true}" class="form-control" required autofocus />
            </div>
            <div class="form-group">
              <label for="password-input">Hasło:</label>
              <input type="password" id="password-input" [(ngModel)]="userItem.password" [ngModelOptions]="{standalone: true}" class="form-control" required />
            </div>
          </form>
        </div>
        <div class="row justify-content-around buttons">
          <button type="submit" class="btn btn-primary" (click)="login()">Zaloguj</button>
          <button type="button" class="btn btn-primary" routerLink='/register/'>Zarejestruj</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
