@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
.home-section {
  background: url("/assets/images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 800px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 6em;
  letter-spacing: 0.3em;
}

.about-section-background {
  width: 31%;
  right: 0;
  top: 0;
}

.about-section {
  background: #9faba0;
  font-family: 'Open Sans', sans-serif;
}

.about-text {
    color:white;
    font-weight: lighter;
}

.about-text h2 {
  font-size: 2.5rem;
}

.about-text p {
  font-size: 1.8rem;
}

.redirect-section {
  padding: 2rem 11rem;
  background: #1d180b;
  font-size: 1.8rem;
  position: relative;
}

  .redirect-section h4 {
    color: white;
    text-align: center;
    font-size: inherit;
    font-weight: lighter;
  }

  .redirect-section .icon svg {
    width: 80%;
    height: auto;
    transform: scaleY(-1) rotate(45deg);
  }

  .redirect-section button {
    background: white;
    color: black;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-weight: lighter;
    height: 70px;
  }

@media only screen and (max-width: 1299px) {
  .about-section-background {
    width: 40%;
  }

  .redirect-section {
    padding: 1rem;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4em;
  }

  .about-text h2 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1.5rem;
  }

  .redirect-section .button {
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
