<app-nav-menu></app-nav-menu>

<section class="home-section d-flex justify-content-center align-items-center">
  <h1 class="text-center">Flora World</h1>
</section>

<section class="about-section position-relative py-5">
  <div class="position-absolute about-section-background">
    <img class="w-100" src="../../assets/images/about-flower.jpg" />
  </div>
  <div class="container">
    <div class="about-text col-xl-7 col-md-6 col-12 pl-0 py-5">
      <h2 class="pb-4">O blogu</h2>
      <p>Quisque massa neque, rutrum ac nisi non, euismod molestie lorem. Phasellus in leo sed massa semper accumsan in ultricies quam. Proin ut cursus ligula, ut lacinia lectus. Etiam at magna quis lacus congue gravida. Nunc metus turpis. Proin ut cursus ligula, ut lacinia lectus. Etiam at magna quis lacus congue gravida. Nunc metus turpis...</p>
    </div>
    <app-blog-carousel></app-blog-carousel>
  </div>
</section>

<section class="redirect-section d-flex flex-row justify-content-center align-items-center">
  <h4 class="col-md-3 col-6 px-0">Chcesz zobaczyć więcej wpisów?</h4>
  <div class="icon col-2 mx-md-5 mx-2"><svg height="512" viewBox="0 0 512 512" fill="white" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m391.968 146.624a341.723 341.723 0 0 1 -27.011 131.284 342.818 342.818 0 0 1 -73.712 109.337 343 343 0 0 1 -243.245 100.755 24 24 0 0 1 0-48 294.062 294.062 0 0 0 209.3-86.7 294 294 0 0 0 86.667-206.59l24.033-32.044zm86.432 48.576a24 24 0 0 0 4.8-33.6l-96-128a24 24 0 0 0 -38.4 0l-96 128a24 24 0 1 0 38.4 28.8l76.8-102.4 76.8 102.4a24 24 0 0 0 33.6 4.8z" /></svg></div>
  <button routerLink='/blog/' class="button col-md-3 col-4">Blog</button>
</section>

<app-contact></app-contact>
