<div class="d-flex flex-md-row flex-column justify-content-between align-items-md-stretch align-items-center py-5">
  <div *ngFor="let postDataItem of postData | slice:0:3" [routerLink]="['/post',  postDataItem?.postId ]" class="link single-post-item col-md-3 col-10 p-0 my-md-0 my-4">
    <div class="single-post-img"><img class="w-100" id="myimage" src="data:image/jpg;base64,{{ postDataItem?.image }}" /></div>
    <div class="p-3">
      <h4 class="text-justify">{{ postDataItem?.title }}</h4>
      <p class="text-justify ck-content" [innerHTML]="(postDataItem?.text.length>250)? (postDataItem?.text | slice:0:250)+'..':(postDataItem?.text)"></p>
      <span class="pb-3 float-right">{{ postDataItem?.date | date:'dd.MM.yyyy' }}</span>
    </div>
  </div>
</div>

