.single-post-item {
  background: #322f23;
  color: white;
  font-size: 1rem;
  box-shadow: 0px 3px 11px #00000078;
}

.single-post-img {
  max-height: 200px;
  overflow: hidden;
}

.single-post-item h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

.link:hover{
    cursor: pointer;
}
