.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
  border: none;
  border-radius: 0;
}

.mat-button-toggle {
  color: white;
  background: rgba(255, 255, 255, 0);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  font-weight: bold;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.main-row {
  flex: 1 0 auto;
  position: relative;
  top: 50px;
}

.menu {
  background: rgba(29, 24, 11, 0.6);
  height: 50px;
  position: fixed;
  z-index: 1;
  top: 47px;
  left: 0;
  width: 100%;
}

.menu-header {
  margin-left: 2px;
}

.navbar {
  height: 47px;
}

.table-and-edit {
  padding-top: 10px;
}

.additional-row {
  height: 20px;
  position: relative;
  top: 40px;
}
