<div class="col" *ngIf="!isStandardUser">

  <div class="row navbar">
    <app-nav-menu></app-nav-menu>
  </div>

  <div class="row justify-content-center menu">
    <mat-button-toggle-group aria-labelledby="button-toogle"
                             [(ngModel)]="selectedMenuElement">
      <mat-button-toggle class="toggle-button" *ngFor="let menuElement of menu" [value]="menuElement">
        {{menuElement}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="row main-row" style="overflow-x:hidden;">
    <div class="col table-and-edit" [ngSwitch]="selectedMenuElement">
      <app-posts *ngSwitchCase="'Posty'"
                 [postData]="postData"
                 (editPostClicked)="editPostClicked($event)"
                 (newPostClicked)="newPostClicked()"
                 (deletePostClicked)="deletePostClicked($event)">
      </app-posts>
      <app-comments *ngSwitchCase="'Komentarze'"
                    [commentData]="commentData"
                    (deleteCommentClicked)="deleteCommentClicked($event)">
      </app-comments>
      <app-users *ngSwitchCase="'Użytkownicy'"
                 [userData]="userData"
                 (editOrBanUserClicked)="editOrBanUserClicked($event)"
                 (deleteUserClicked)="deleteUserClicked($event)">
      </app-users>
    </div>

    <div *ngIf="selectedMenuElement == 'Posty'" class="col table-and-edit" >
      <app-add-or-update-post (createOrUpdatePostClicked)="createOrUpdatePostClicked($event)"
                              [postDataItem]="currentPost">
      </app-add-or-update-post>
    </div>
  </div>
  <div class="row additional-row">
  </div>
</div>
